.container {
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*.loginContainer {*/
    /*width: 30%;*/
    /*height: 25%;*/
    /*display:flex;*/
    /*justify-content: flex-end;*/
    /*align-items: center;*/
    /*color: white;*/
/*}*/

.emailInput {
    width:190%;
    border-radius: 10px;
}

.signInButton {
    height: 5%;
    width: 40%;
    background-color: dodgerblue;
    border-radius: 15px;
    color: white;
}

/*.registerButton {*/
    /*height:5%;*/
    /*width: 40%;*/
    /*color:white;*/
    /*background-color: dodgerblue;*/
    /*border-radius: 15px;*/
/*}*/

.linkButton {
    display:block;
    height: 100%;
    background-color: blue;
}
